{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{pageTitle}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <img src="{{ post.getFilename() }}">
        <h6>Data dodania: {{ post.getTimestamp() }} </h6>
        <h6>Nazwa: {{ post.getText() }} </h6>
        <h6>Autor: {{post.getAuthorName() }}</h6>
        {% if post.getVote() == -1 %}
        <button disabled>Downvote</button>
        {% else %}
        <a href="downvote/{{post.getId()}}">
        <button>Downvote</button>
        </a>
        {% endif %}

        {{ post.getScore() }}
        {% if post.getVote() == 1 %}
        <button disabled>Upvote</button>
        {% else %}
        <a href="upvote/{{post.getId()}}">
        <button>Upvote</button>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% include 'footer.html.twig' %}